.players-container {
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  row-gap: 3vh;

  margin-top: 3%;
}

.player-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 2px solid purple;
  padding: 10px;
  border-radius: 10px;

  font-size: 16pt;
}

.leaderboard-container {
  background-color: rgb(255, 221, 0);
  display: flex;
  min-height: 94vh;
  flex-direction: column;
  align-items: center;
}